{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        
        <button type="submit" form="form-feed" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
    <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-feed" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="facebookfeedproducts_status" id="input-status" class="form-control">
                {% if facebookfeedproducts_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" >Currency</label>
            <div class="col-sm-10">
              <select name="facebookfeedproducts_currency">
           {% for curr  in currencies %}
            <option value="{{ curr.code }}" {% if curr.code== facebookfeedproducts_currency %} selected="selected" {% endif %}   >{{ curr.title }}</option>
           {% endfor %}
            </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" >Language</label>
            <div class="col-sm-10">
              <select name="facebookfeedproducts_language">
           {% for lang in languages %}
            <option value="{{ lang.code }}" {% if lang.code== facebookfeedproducts_language %} selected="selected" {% endif %} >{{ lang.name }}</option>
           {% endfor %}
            </select>
            </div>
          </div>
          
		            <div class="form-group">
            <label class="col-sm-2 control-label" >Color</label>
            <div class="col-sm-10">
            <select name="facebookfeedproducts_color">
			<option value="">Select options for Color</option>
			 {% for opt in options %}
            <option value="{{opt.name}}" {% if opt.name == facebookfeedproducts_color %} selected="selected" {% endif %} >{{ opt.name}}</option>
           {% endfor %}
            </select>
            </div>
          </div>
		    <div class="form-group">
            <label class="col-sm-2 control-label" >Size</label>
            <div class="col-sm-10">
            <select name="facebookfeedproducts_size">
			<option value="">Select options for Size</option>
			 {% for opt in options %}
            <option value="{{opt.name}}" {% if opt.name == facebookfeedproducts_size %} selected="selected" {% endif %} >{{ opt.name}}</option>
           {% endfor %}
            </select>
            </div>
          </div>
		    <div class="form-group">
            <label class="col-sm-2 control-label" >Pattern</label>
            <div class="col-sm-10">
            <select name="facebookfeedproducts_pattern">
			<option value="">Select options for pattern</option>
			 {% for opt in options %}
            <option value="{{opt.name}}" {% if opt.name == facebookfeedproducts_pattern %} selected="selected" {% endif %} >{{ opt.name}}</option>
           {% endfor %}
            </select>
            </div>
          </div>
		            <div class="form-group">
            <label class="col-sm-2 control-label" >Material</label>
            <div class="col-sm-10">
            <select name="facebookfeedproducts_material">
			<option value="">Select options for Molor</option>
			 {% for opt in options %}
            <option value="{{opt.name}}" {% if opt.name == facebookfeedproducts_material %} selected="selected" {% endif %} >{{ opt.name}}</option>
           {% endfor %}
            </select>
            </div>
          </div>
		  
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-data-feed">{{ entry_data_feed }}</label>
            <div class="col-sm-10">
              <textarea rows="5" readonly id="input-data-feed" class="form-control">{{ data_feed }}</textarea>
            </div>
          </div>
        </form>
  
    </div>
  </div>
</div>
{{ footer }}